@model List<ProductCardViewModel>

@{
    ViewData["Title"] = "Products";
}

<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="product-sidebar">
                    <div class="single-widget search">
                        <h3>Search Product</h3>
                        <form action="#">
                            <input type="text" placeholder="Search Here...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <div class="single-widget widget">
                        <h3>All Categories</h3>
                        <ul class="list">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <li>
                                    <a asp-controller="Product" asp-action="All" asp-route-categoryId="@category.Id">@category.Name </a><span>(@category.ProductsCount)</span>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="single-widget range widget">
                        <h3>Price Range</h3>
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" id="priceRangeCheckbox">
                            <label class="form-check-label">
                                Include Price Range
                            </label>
                        </div>
                        <input type="range" id="priceRange" class="form-range" name="range" step="1" min="0" max="50000" value="10" onchange="rangePrimary.value=value">
                        <div class="range-inner">
                            <label>$</label>
                            <input type="text" id="rangePrimary" placeholder="100">
                        </div>
                    </div>

                    <div class="single-widget condition widget" id="brandCheckboxes">
                        <h3>Filter by Brand</h3>
                        <div id="container">
                            @foreach (var brand in ViewBag.Brands)
                        {
                            <div class="form-check">
                                <input class="form-check-input checkbox" type="checkbox" value="" id="@brand.Id">
                                <label class="form-check-label" for="flexCheckDefault11">
                                    @brand.Name
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <label for="sorting">Sort by:</label>
                                    <select class="form-control" id="sorting">
                                        <option>Low - High Price</option>
                                        <option>High - Low Price</option>
                                        <option>Average Rating</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                            <div class="row" id="productsArea">
                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="single-product">
                                            <div class="product-image">
                                                <img src="@product.ImageUrl" alt="@product.Title">
                                                <div class="button aButton">
                                                    <a id="@product.Id" class="btn aTag"><i class="lni lni-cart"></i> Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <span class="category">@product.Category</span>
                                                <h4 class="title">
                                                    <a href="product-grids.html">@product.Title</a>
                                                </h4>
                                                <div class="price">
                                                    <span>@product.Price лв.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/sortByCriteria.js"></script>
    <script type="module" src="~/js/addProductToCart.js"></script>
}