@model CartViewModel

<div class="shopping-cart section">
    <div class="container">
        <div class="cart-list-head">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td class="col-lg-1 col-md-1 col-12"><img src="@product.ImageUrl" alt="@product.Title"></td>
                                        <td>@product.Title</td>
                                        <td>@product.Quantity</td>
                                        <td>@(product.Price * product.Quantity) лв.</td>
                                        <td><a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@product.Id" class="remove-item"><i class="lni lni-close"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 mt-15">
                            <div class="right">
                                <ul>
                                    <li>Shipping<span>Free</span></li>
                                    <li class="last">Total <span>@Model.TotalPrice.ToString("F2") лв.</span></li>
                                </ul>
                                <div class="button mt-15">
                                    <a href="checkout.html" class="btn">Checkout</a>
                                    <a asp-controller="Product" asp-action="All" class="btn btn-alt">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>