@model List<ProductCarouselViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        <!-- Start Single Slider -->
                        @foreach (var product in Model)
                        {
                            <div class="single-slider"
                             style="background-image: url(@product.ImageUrl);
                                    background-size: contain;">
                                <div class="content">
                                    <h2>
                                        @product.Title
                                    </h2>
                                    <p>
                                        @product.Description
                                    </p>
                                    <h3>@product.Price лв.</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End Single Slider -->
                    </div>
                    <!-- End Hero Slider -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Categories</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var category in ViewBag.CardCategories)
            {
                <div class="card col me-3" style="width: 18rem;">
                    <img src="@category.ImageUrl" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                    </div>
                    <a asp-controller="Product" asp-action="All" asp-route-categoryId="@category.Id" type="button" class="btn btn-primary">View More</a>
                </div>
            }
        </div>
    </div>
</section>